<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kwiatkowski.dominik.finance_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="kwiatkowski.dominik.finance_app.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/Theme.MyApplication.NoActionBar"></activity>
        <activity android:name="kwiatkowski.dominik.finance_app.ExpenditureListActivity" />
        <activity
            android:name="kwiatkowski.dominik.finance_app.ExpenditureAddActivity"
            android:label="@string/title_activity_main_panel"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name="kwiatkowski.dominik.finance_app.LoggingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>